@page "/makes/edit/{id:int}"
@inject IHttpRepository<Make> client
@inject NavigationManager navManager

<h3>Edit</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditMake" Make="make" />

@code {
    [Parameter] public int id { get; set; }
    Make make = new Make();


    protected async override Task OnParametersSetAsync()
    {
        make = await client.Get(EndPoints.MakesEndPoint, id);
    }

    async Task EditMake()
    {
        await client.Update(EndPoints.MakesEndPoint, make, id);
        navManager.NavigateTo("/makes/");
    }
}
