@page "/makes/view/{id:int}"
@inject IHttpRepository<Make> client

<h3>View</h3>
<FormComponent Disabled="true" Make="make" />

@code {
    [Parameter] public int id { get; set; }
    Make make = new Make();


    protected async override Task OnParametersSetAsync()
    {
        make = await client.Get(EndPoints.MakesEndPoint, id);
    }

}
