@page "/colours/edit/{id:int}"
@inject HttpClient client
@inject NavigationManager navManager

<h3>Edit</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditColour" Colour="colour" />

@code {
    [Parameter] public int id { get; set; }
    Colour colour = new Colour();


    protected async override Task OnParametersSetAsync()
    {
        colour = await client.GetFromJsonAsync<Colour>($"{EndPoints.ColoursEndPoint}/{id}");
    }

    async Task EditColour()
    {
        await client.PutAsJsonAsync<Colour>($"{EndPoints.ColoursEndPoint}/{id}", colour);
        navManager.NavigateTo("/colours/");
    }
}
