@page "/colours/edit/{id:int}"
@inject IHttpRepository<Colour> client
@inject NavigationManager navManager

<h3>Edit</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditColour" Colour="colour" />

@code {
    [Parameter] public int id { get; set; }
    Colour colour = new Colour();


    protected async override Task OnParametersSetAsync()
    {
        colour = await client.Get(EndPoints.ColoursEndPoint, id);
    }

    async Task EditColour()
    {
        await client.Update(EndPoints.ColoursEndPoint, colour, id);
        navManager.NavigateTo("/colours/");
    }
}
