@page "/colours/view/{id:int}"
@inject IHttpRepository<Colour> client

<h3>View</h3>
<FormComponent Disabled="true" Colour="colour" />

@code {
    [Parameter] public int id { get; set; }
    Colour colour = new Colour();


    protected async override Task OnParametersSetAsync()
    {
        colour = await client.Get(EndPoints.ColoursEndPoint, id);
    }
}
