@page "/models/edit/{id:int}"
@inject IHttpRepository<Model> client
@inject NavigationManager navManager

<h3>Edit</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditModel" Model="model" />

@code {
    [Parameter] public int id { get; set; }
    Model model = new Model();


    protected async override Task OnParametersSetAsync()
    {
        model = await client.Get(EndPoints.ModelsEndPoint, id);
    }

    async Task EditModel()
    {
        await client.Update(EndPoints.ModelsEndPoint, model, id);
        navManager.NavigateTo("/models/");
    }
}
