@page "/customers/edit/{id:int}"
@inject IHttpRepository<Customer> client
@inject NavigationManager navManager

<h3>Edit</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditCustomer" Customer="customer" />

@code {
    [Parameter] public int id { get; set; }
    Customer customer = new Customer();


    protected async override Task OnParametersSetAsync()
    {
        customer = await client.Get(EndPoints.CustomersEndPoint, id);
    }

    async Task EditCustomer()
    {
        await client.Update(EndPoints.CustomersEndPoint, customer, id);
        navManager.NavigateTo("/customers/");
    }
}
