@page "/vehicles/create"
@inject IHttpRepository<Vehicle> client
@inject IHttpRepository<Make> clientMake
@inject IHttpRepository<Model> clientModel
@inject IHttpRepository<Colour> clientColour
@inject NavigationManager navManager
@attribute [Authorize]

<h3 class="card-title">Create New Vehicle</h3>
<hr />
<br />

<FormComponent ButtonText="Create Vehicle" OnValidSubmit="CreateVehicle" Vehicle="vehicle" />
<br />

@code {
    Vehicle vehicle = new Vehicle();
    private IList<Make> makes;
    private IList<Model> models;
    private IList<Colour> colours;

    protected async override Task OnInitializedAsync()
    {
        makes = await this.clientMake.GetAll(EndPoints.MakesEndPoint);
        models = await this.clientModel.GetAll(EndPoints.ModelsEndPoint);
        colours = await this.clientColour.GetAll(EndPoints.ColoursEndPoint);
    }

    private async Task CreateVehicle()
    {
        await client.Create(EndPoints.VehiclesEndPoint, vehicle);
        navManager.NavigateTo("/vehicles/");
    }
}
