@page "/vehicles/edit/{id:int}"
@inject IHttpRepository<Vehicle> client
@inject NavigationManager navManager

<h3>Edit</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditVehicle" Vehicle="vehicle" />

@code {
    [Parameter] public int id { get; set; }
    Vehicle vehicle = new Vehicle();


    protected async override Task OnParametersSetAsync()
    {
        vehicle = await client.Get(EndPoints.VehiclesEndPoint, id);
    }

    async Task EditVehicle()
    {
        await client.Update(EndPoints.VehiclesEndPoint, vehicle, id);
        navManager.NavigateTo("/vehicles/");
    }
}
